@import "../../global";

.footer {
  margin-top: 3rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;

  h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    font-family: $font-family-roboto;
  }
}

.btn {
  @include button(#fff, $reddit-orange);
  display: block;
}
